
body{
background: url("./css/bglogin.jpg");
background-size: cover;
background-position: center;
height: 100%;
}
.col-md-6  {
  background-color:#ffcc00;
}
.col-md-7  {
  background-color: #ff8c1a;
}
.col-md-5  {
  background-color: #ff944d;
}
h2
{
color: purple;
text-decoration-style: bolder;
}
.form-label{
  align-self: left;
  text-decoration-style: bolder;
  text-align: left;
  
}
.containerone{
  width: 750px;
  height: 600px;
  margin-left: 400px;
}
.navbar {
  background-color:#ffcc00;
  text-decoration: bolder;
}
.navbar-brand{
  text-decoration: bolder;
  margin-left: 20px;
}